<a href="{{ routes.collections_url }}/bmw">BMW</a>
<a href="{{ routes.collections_url }}/audi">Audi</a>
<a href="{{ routes.collections_url }}/vw">VW</a>
<a href="{{ routes.collections_url }}/accessories">Accessories</a>
