{%- assign dropdown_label = label | default: 'Contacts' -%}
{%- assign returns_url = '/pages/returns' -%}
{%- if pages['shipping-returns'] != blank -%}
  {%- assign returns_url = pages['shipping-returns'].url -%}
{%- elsif pages['returns'] != blank -%}
  {%- assign returns_url = pages['returns'].url -%}
{%- endif -%}

<details class="nav-dropdown nav-dropdown--contacts">
  <summary>
    <span>{{ dropdown_label }}</span>
    <span class="nav-dropdown__chevron" aria-hidden="true"></span>
  </summary>
  <div class="nav-dropdown__menu">
    <a href="/contact">Contact Us</a>
    <a href="{{ returns_url }}">Returns</a>
  </div>
</details>
